#deck-gl-wrapper {
    position: relative;
    height: 633px;
    width: 100%;
    border: 2px solid rgb(19, 19, 19);
    margin: 0 auto;
}


#deck-gl-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-group-title {
    display: inline;
    margin-right: 10px;
}

.form-control:focus {
    color: white;
}

.map_reset_button {
    margin-left: 20px;
}

.layer_reset_button {
    margin-left: 20px;
}

.all_experiment_button {
    margin-left: 20px;
    float: right;
}