/* Or display content like unicode characters or fontawesome icons */
.slider-handle.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: '\25B7'; /*unicode star character*/
	color: #726204;
    width: 100% !important;
} 

#playback-name {
	color: #0090e7;
}

.select2-selection {
	width: 101% !important;
	border-color: #2c2e33 !important; 
    background: #191c24 !important;
}

.select2-selection__rendered{
	color: #a9a9a9 !important;
}

.select2-results__option[aria-selected=true]{
	background-color: #5f5f5f !important;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-size: 90%;
	color: #0090e7;
	font-size: 0.9375rem;
    }
  .my-legend .legend-scale ul {
    list-style: none;
	max-width: fit-content;
    margin-inline: auto;
    margin-right: auto;
    margin-left: auto;
    padding: inherit;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 55px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

	.small-card{
		height: 90px;
		padding: 0.6rem 1.5625rem !important;
	}

#playback-button {
	width: 35px;
    height: 35px;
}

.card .card-body {
    padding: 1rem;
}

.accordion .card .card-body{
	padding: 0 1rem 1rem 1.5rem;
}

#deck-gl-wrapper {
    position: relative;
    height: 600px !important;
    width: 100%;
}


	