/* Or display content like unicode characters or fontawesome icons */
.slider-handle.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: '\25B7'; /*unicode star character*/
	color: #726204;
    width: 100% !important;
} 

#playback-name {
	color: #0090e7;
}